#header {
  text-align: center;
  padding: 20px 0;
}

.controller {
  padding: 10px 0;
}

/* form */
.input-field {
  padding: 10px 0;
}

#submit-btn {
  display: inline-block;
  align-items: center;
}

/* image */
.img-container {
  width: 50px;
  height: 50px;
}

.img-product {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}
